body{
    background: #ffdfec;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
} /* Mudar cor do fundo da página */

p.centro{
    text-align: center;
    font-family: 'Arial Black', courier, monospace;
    color: #DC143C;
} /* Tipo de texto, cor fonte, formatação */

a{
    color: #FF69B4;
} /* Cor do link */

a:hover{
    font-family: 'Arial Black';
    color:#FF1493;
} /* Da cor ao link quando mouse passa por cima */

a:visited{
    color: #C71585;
} /* Cor link visitado */

h4{
    font-family: 'Franklin Gothic Medium', arial;
} /* Padrão de fonte */