/* Thayna Gomes da Luz Santos 1802222*/

body{
    background: #ffdfec;
    margin: 0 auto;
    width: 100%;
    height: 100%;
} /* Mudar cor do fundo da página e coloca margem no corpo */

p.centro{
    text-align: center;
    font-family: 'Arial Black', courier, monospace;
    color: #f64a8f;
} /* Tipo de texto, cor fonte, formatação */

 /* a{
    color: #FF69B4;
} /* Cor do link */

/* a:hover{
    font-family: 'Arial Black';
    color:#FF1493;
} /* Da cor ao link quando mouse passa por cima */

/* a:visited{
    color: #C71585;
} /* Cor link visitado */ 

h4{
    font-family: 'Franklin Gothic Medium', arial;
} /* Padrão de fonte */

.menu-principal{
    background-color: #ff0066;
    height: 67px;
    width: 100%;
}

h1,h2,h3,h4,ul{
    margin-right: 150px;
    margin-left: 80px;
}

main{
    width: 980px;
    position: relative;
    margin: 0 auto;
}

.logo{
    padding: 15px;
    width:60%;
    float:left;
}

.redes-sociais ul li{
    display: inline-block;
    margin-left: 8px; /* Espaço entre as redes */
    float: left;
    list-style: none;
}

.redes-sociais{
    width: 35%;
    float: right;
}

.header-2{
    background-color: #fff;
    width: 100%;
    height: 50px;
    margin: 0 auto; 

} /* Fundo cabeçalho */

.menu-urls{
    border-bottom:3px solid #efefef; /* Borda cabeçalho */
    height: 50px; /* quadrado cabeçalho */
} /* Bordar do cabeçalho */

.menu ul li{
    color: #8b8b8b; /* Cor links */   
    display: inline-block; /* Alinha as palavras da lista */
    margin-left: 30px; /* Espaçameto dos links */
    height: 34px; /* distancia do sublinhado */
}

.menu ul li:hover{
    border-bottom: 3px solid #ff0066;
} /* grossura sublinhado */

.menu ul li a:hover{
    color: #ff0066;
} /* Cor mouse sobre menu */

.menu ul li a{
    color: #8b8b8b; /* Cor links */
    text-decoration: none; /* Tira aparencia de link */
    font-size: 17px; /* Tamanho da fonte */
    text-transform: uppercase; /* Todas letras maiusculas */
} /* Formatar os links */

.menu{
    text-align: center;
    width: 100%; /* Ocupação palavras menu */
    float: left; /* posição palavras */
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
} /* Coluna 100% */


.h2-fl{
    padding: 12px 20px;
}

.form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'arial';
}

.placeholder{
    font-family: 'arial';
    color: #8b8b8b;
}

.textarea{
    width: 50%;
    height: 150px;
    padding: 12px 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.submit{
    background-color: #ff0066;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}